<div class="footer-background clear">
	<div class="footer-container clear">
		<br><br>
		<div class="center"><%= image_tag "canrecoverlogo.png", alt: "CanRecover Logo" %></div>
		<br>
		<p><strong>Find Support With Us</strong>
			<br><br>
			<%= link_to "Medical Overview", medical_overview_path %><br>
			<%= link_to "Contact Us", contact_path %><br>
		</p>

		<p><strong>About CAN Recover</strong>
			<br><br>
			<%= link_to "Our Stories", story_path %><br>
			<%= link_to "Blog", blog_path %><br>
			<%= link_to "Twitter", "https://twitter.com/CANrecover", target: "_blank" %><br>
			<%= link_to "Facebook", "http://www.facebook.com/CANrecover", target: "_blank" %>
		</p>

		<p><strong>How to Help</strong>
			<br><br>
			<%= link_to "Donate", support_path %><br>
			<%= link_to "Volunteer", contact_path %><br>
			<%= link_to "Sponsor an Event", contact_path %>
		</p>
		<div class="footer-address clear"><br>PO Box 132, Rye, NH, 03870 <br>© CAN Recover Foundation, Inc. 2014. All Rights Reserved.<br>
			<%= link_to "Admin", new_user_session_path %>
			
			<% if user_signed_in? %>

			|  <%= link_to 'New Post', new_pin_path %> | <%= link_to "Settings", edit_user_registration_path %> | 
			<%= link_to "Log Out", destroy_user_session_path, method: :delete %>
			<% end %></div><br><br>
	</div><!-- Div Container Ends -->
</div>