<div class="footer-background clear">
	<div class="footer-container">
		<br><br>
		<div class="center"><%= image_tag "canrecoverlogo.png", alt: "CanRecover Logo" %></div>
		<br>
		<p>Find Support With Us
			<br><br>
			<%= link_to "Patient Topics", "#" %><br>
			<%= link_to "Support Circle", "#" %><br>
			<%= link_to "Medical Explanation", "#" %><br>
			<%= link_to "Helpful Resources", "#" %>
		</p>

		<p>About CAN Recover
			<br><br>
			<%= link_to "Our Stories", story_path %><br>
			<%= link_to "Blog", blog_path %><br>
			<%= link_to "twitter", "https://twitter.com/CANrecover" %><br>
			<%= link_to "facebook", "http://www.facebook.com/CANrecover" %>
		</p>

		<p>How to Help
			<br><br>
			<%= link_to "Donate", support_path %><br>
			<%= link_to "Volunteer", support_path %><br>
			<%= link_to "Sponsor an Event", support_path %><br>
			<%= link_to "Shop CAN Recover", "#" %>
		</p>
		<div class="center" style="font-family: arial;">PO Box 132, Rye, NH, 03870 <br>© CAN Recover Foundation, Inc. 2014. All Rights Reserved.<br>
			<%= link_to "Admin", new_user_session_path %>
			
			<% if user_signed_in? %>

			|  <%= link_to 'New Post', new_pin_path %> | <%= link_to "Settings", edit_user_registration_path %> | 
			<%= link_to "Log Out", destroy_user_session_path, method: :delete %>
			<% end %></div><br><br>
	</div><!-- Div Container Ends -->
</div>