<div class="navbar-background-color">
  <div class="container">
    <div class="float-left"><%= link_to image_tag("canrecoverlogo.png", alt: "CanRecover Logo"), root_path %></div>
    <div class="float-right">
      <div class="navlinks">
        <%= link_to "Home", root_path %>
        <%= link_to "Our Stories", story_path %>
        <%= link_to "Medical Overview", medical_overview_path %>
        <%= link_to "Get Involved", support_path %>
        <%= link_to "Blog", blog_path %>
        <%= link_to "Contact", contact_path %>
      </div><!-- Navlinks Ends -->
    </div>
  </div><!-- Navbar Container Ends -->
</div>